@import '../../style/variables';

.menuNavigation {
	position: fixed;
	height: $min-heigth-nav;
	background-color: rgba(9, 9, 9, 0.5);
	width: $min-width-nav;
	top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
	transition: all 1s ease;
	z-index: 10000;
	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 80vw;
	}
	&-logo {
		position: relative;
		&-box {
			border-radius: 5px;
			overflow: hidden;
			position: absolute;
			top: 2vw;
			left: 6vw;
			cursor: pointer;
			box-shadow: 0 0 5px 0px #f9d073;
			width: 110px;
			height: 160px;
		}
		&-box:hover {
			box-shadow: 0px 0px 5px 1px hsl(42, 92%, 71%);
		}
		&-img {
			width: 100%;
			height: 100%;
		}
	}
	&-logo:hover {
		color: hsla(0, 0%, 100%, 0.8);
		text-shadow: 0px 0px 1px #f9d073;
	}
}
.menuNavigation-box {
	flex-wrap: nowrap;
	a {
		font-size: 2vmax;
		color: #f9d073;
		text-shadow: 0px 0px 1px #f9d073;
		padding: 10px;
		text-decoration: none;
	}
	a:hover {
		color: hsla(0, 0%, 100%, 0.8);
		text-shadow: 0px 0px 1px #f9d073;
	}
}

// media
@media (max-width: 1024px) {
	.menuNavigation {
		&-logo {
			&-box {
				display: none;
			}
		}
	}
}
@media (max-width: 768px) {
	.menuNavigation {
		min-width: $min-width-768;
		&-wrapper {
			width: 100%;
			justify-content: center;
		}
		&-logo {
			&-box {
				width: 70px;
				height: 70px;
			}
		}
	}
}

@media (max-width: 536px) {
	.menuNavigation-box {
		display: none;
	}
	.menuNavigation {
		&-logo {
			&-box {
				display: unset;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}
@media (max-width: 376px) {
	.menuNavigation {
		&-logo {
			&-box {
				display: unset;
			}
		}
	}
}
@media (max-width: 321px) {
}
