@import '../../style/variables';

.materialCard {
	width: 300px;
	height: 80vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	justify-content: center;
	overflow: hidden;
	&-img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		object-position: center;
		object-fit: cover;
	}
	&-title {
		width: 100%;
		font-size: 32px;
		padding: 0px;
		color: $yellow;
		background: linear-gradient(135deg, $yellow, $yellow-second);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 0px;
	}
	&-wrapper {
		transition: all 0.5s ease;
		width: 100%;
		z-index: 1;
		background: rgba($bg-color, 0.5);
		box-shadow: 0px 0px 15px $yellow, inset 0px 0px 50px $yellow;
		padding: 20px 10px 20px 10px;
	}
}
