@import '../../style/variables';
.materials {
	position: relative;
	overflow: auto;
	min-width: $min-width;
	min-height: $min-heigth;
	&-wrapper {
		padding-top: 15vh;
		height: $heigth-wrapper;
		width: 80vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&-box {
		display: flex;
		flex-wrap: wrap;
		overflow: scroll;
		align-items: center;
		justify-content: space-evenly;
		row-gap: 6vh;
	}
	&-item {
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.5s ease-in-out;
		border: 1px solid #000;
		box-shadow: 0px 0px 5px 0px hsla(0, 0%, 80%, 0.8);
	}
	&-item:hover {
		box-shadow: 0 0 5px 2px #f9d073;
	}
}

// media
@media (max-width: 768px) {
	.materials {
		/* &-box {
			display: flex;
			flex-direction: column;
			height: 100vh;
			row-gap: 10px; 
		}
		*/
	}
}
@media (max-width: 425px) {
}
@media (max-width: 376px) {
	.materials {
		&-box {
			row-gap: 4vh;
		}
	}
}
@media (max-width: 320px) {
	.materials {
		&-box {
			row-gap: 0;
		}
	}
}
