.materials {
	position: relative;
	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&-title {
		font-size: 60px;
		color: #f9d073;
		text-shadow: 0px 0px 10px #f9d073;
		margin-bottom: 30px;
		margin-top: 30px;
		animation: zoomIn;
		animation-duration: 1s;
		cursor: pointer;
	}
	&-title:hover {
	}
	&-box {
		position: relative;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
		gap: 20px;
	}
	&-item {
		overflow: hidden;
		border: 1px solid #f9d073;
		border-radius: 50px;
		box-shadow: 0px 0px 10px 0px #f9d073;
		cursor: pointer;
		transition: all 0.5s ease-in-out;
	}
	&-item:hover {
		animation: flip;
		animation-duration: 2s;
		box-shadow: 0px 0px 10px 10px #e7b33b;
	}
}
