@import '../../style/variables';

.about {
	position: relative;
	overflow: hidden;
	min-width: $min-width;
	min-height: $min-heigth;
	display: flex;
	justify-content: center;
	align-items: center;
	&-bg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
		width: 98vw;
		opacity: 0.8;
	}
	&-wrapper {
		padding-top: 15vh;
		height: $heigth-wrapper;
		width: 60vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 10px;
	}
	&-title {
		font-size: calc(16px + 1vmax);
		padding: 10px;
		color: #f9d073;
		text-shadow: 0px 1px 2px #f9d073;
		background-color: hsla(0, 0%, 0%, 0.8);
		border: 1px solid #000;
		box-shadow: 0 0 10px 0px #f9d073;
	}
	&-subtitle {
		animation-delay: 0.3s;
		padding: 10px;
		font-size: calc(14px + 1vmax);
		color: hsla(0, 0%, 100%, 1);
		text-shadow: 0px 0px 2px #f9d073;
		align-items: baseline;
		text-align: center;
		background-color: hsla(0, 0%, 0%, 0.5);
		border: 1px solid #000;
		box-shadow: 0 0 10px 0px #f9d073;
	}
	&-descr {
		padding: 10px 0px 10px 0px;
		animation-delay: 0.5s;
		background-color: hsla(0, 0%, 0%, 0.5);
		border: 1px solid #000;
		box-shadow: 0 0 10px 0px #f9d073;
		&-title {
			margin-bottom: 10px;
			align-items: center;
			font-size: calc(12px + 1vmax);
			color: hsla(0, 0%, 100%, 1);
		}
		&-lists {
			font-size: calc(10px + 1vmax);
			color: hsla(0, 0%, 100%, 1);
			text-shadow: 0px 0px 2px #f9d073;
			align-items: baseline;
			text-align: justify;
			list-style-type: none;
			padding: 10px;
		}
		&-item {
		}
	}
}

@media (max-width: 768px) {
	.about {
		&-wrapper {
			padding-left: 10;
			padding-right: 10;
			width: 80%;
		}
		&-title {
			font-size: 2vmax;
		}
		&-subtitle {
			font-size: 2vmax;
		}
	}
}
@media (max-width: 425px) {
	.about {
		&-wrapper {
			width: 90%;
		}
	}
}
@media (max-width: 375px) {
	.about {
		&-wrapper {
			width: 90%;
		}
	}
}
@media (max-width: 320px) {
	.about {
		&-wrapper {
			width: 100%;
		}
	}
}
