@import '../../style/variables';
.home {
	position: relative;
	overflow: hidden;
	min-width: $min-width;
	min-height: $min-heigth;
	&-bg {
		position: absolute;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		z-index: -2;
	}
	&-wrapper {
		padding-top: $wrapper-padding-top;
		height: $heigth-wrapper;
		min-height: $min-heigth-wrapper;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		text-align: center;
	}
	&-logo {
		&-box {
			width: 200px;
			height: 331px;
			position: relative;
			background-image: url('../../assets/logo/Frame200x331.webp');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			overflow: hidden;
			box-shadow: 0 0 5px 1px #fcb91c;
			border-radius: 10px;
		}
		&-R,
		&-S {
			width: 115px;
			height: 160px;
			position: absolute;
			transform: translate(-50%, -50%);
		}
		&-R {
			top: 47%;
			left: 40%;
			z-index: 1;
		}
		&-S {
			top: 53%;
			left: 58%;
		}
	}

	&-text {
		width: 50vw;
		font-size: 42px;
		font-weight: bold;
		padding: 10px;
		color: #fccf66;
		text-shadow: 1px 1px 15px #ffb300;
	}
}

// media

@media (max-width: 768px) {
	.home {
		min-width: $min-width-768;
		&-wrapper {
			row-gap: 1vh;
			justify-content: space-evenly;
		}
		&-text {
			font-size: 34px;
			width: 300px;
			text-shadow: 1px 1px 15px #000;
			p {
				margin: 0;
			}
		}
	}
}

@media (max-width: 425px) {
	.container {
		padding: 0;
	}
	.home {
		&-wrapper {
			padding-top: 15vh;
		}
		&-logo {
			&-box {
				background-image: url('../../assets/logo/Frame175x290.webp');
				height: 290px;
				width: 175px;
			}
			&-R,
			&-S {
				width: 100px;
				height: 140px;
			}
		}
		&-text {
			width: 170px;
			height: 170px;
			padding: 0;
			overflow: hidden;
			font-size: 22px;
			align-items: center;
			display: flex;
		}
	}
}
@media (max-height: 626px) {
	.home {
		&-wrapper {
			min-height: 425px;
		}
		&-logo {
			&-box {
				position: absolute;
				opacity: 1;
			}
		}
		&-text {
			display: none;
		}
	}
}
