.home {
	&-wrapper {
		min-height: 100vh;
		min-width: 98.5vw;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		text-align: center;
		transition: all 1.5s ease-in-out;
	}
	&-logo-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		column-gap: 15vh;
		padding: 15px;
	}
	&-Rich,
	&-Stone {
		font-size: 150px;
		line-height: 120px;
		color: #f9d073;
		text-shadow: 0px 0px 15px #f9d073;
	}
	&-Rich {
	}
	&-Stone {
		animation-delay: 0.1s;
	}
	&-text {
		animation-delay: 0.5s;
		width: 25vw;
		font-size: 24px;
		color: #f9d073;
		text-shadow: 0px 0px 15px #f9d073;
	}
}
