$yellow: #f9d073;
$yellow-second: #ffb300;
$white-opacity: #ffffffcc;
$bg-color: rgb(9, 9, 9);

//width
$min-width-768: 98.5vw;

$min-width-nav: 100%;
$min-width-home: 100%;
$min-width-about: 100%;
$min-width-work: 100%;
$min-width-partners: 100%;
$min-width-materials: 100%;
$min-width-contacts: 100%;
//heigth
$heigth-wrapper: 100%;
$min-heigth-wrapper: 100vh;
//section wrapper padding-top
$wrapper-padding-top: 15vh;
$wrapper-padding-bottom: 1vh;
//heigth
$min-heigth-nav: 14vh;
$min-heigth-home: 100vh;
$min-heigth-about: 100vh;
$min-heigth-work: 100vh;
$min-heigth-partners: 100vh;
$min-heigth-materials: 100vh;
$min-heigth-contacts: 100vh;
//heigth
$min-heigth: 100vh;
$min-width: 100vw;
//
//animations
@keyframes animation-Logo {
	from {
		box-shadow: 0 0 5px 1px $yellow-second;
	}
	50% {
		box-shadow: 0 0 30px 1px $yellow;
	}
	to {
		box-shadow: 0 0 5px 1px $yellow-second;
	}
}
@keyframes animation-navLogo {
	from {
		box-shadow: 0 0 1px 1px $yellow-second;
	}
	50% {
		box-shadow: 0 0 10px 1px $yellow-second;
	}
	to {
		box-shadow: 0 0 1px 1px $yellow-second;
	}
}
@keyframes animation-text {
	from {
		text-shadow: 0px 0px 1px $yellow-second;
	}
	50% {
		text-shadow: 0px 0px 10px $yellow-second;
	}
	to {
		text-shadow: 0px 0px 1px $yellow-second;
	}
}
