$yellow: #f9d073;
$yellow-orange: #ffc132;
$white-opacity: #ffffffcc;
$bg-color: rgb(9, 9, 9);

//width
$min-width-768: 98.5vw;

$min-width-nav: 98.5vw;
$min-width-home: 98.5vw;
$min-width-about: 98.5vw;
$min-width-work: 98.5vw;
$min-width-partners: 98.5vw;
$min-width-materials: 98.5vw;
$min-width-contacts: 98.5vw;
//heigth
$heigth-wrapper: 100vh;
$min-heigth-wrapper: 640px;
//section wrapper padding-top
$wrapper-padding-top: 13vh;
//heigth
$min-heigth-nav: 12vh;
$min-heigth-home: 100vh;
$min-heigth-about: 100vh;
$min-heigth-work: 100vh;
$min-heigth-partners: 100vh;
$min-heigth-materials: 100vh;
$min-heigth-contacts: 100vh;
//heigth
$min-heigth: 100vh;
$min-width: 98.5vw;
//
//animations
@keyframes animation-Logo {
	from {
		box-shadow: 0 0 5px 1px $yellow-orange;
	}
	50% {
		box-shadow: 0 0 30px 1px $yellow;
	}
	to {
		box-shadow: 0 0 5px 1px $yellow-orange;
	}
}
@keyframes animation-navLogo {
	from {
		box-shadow: 0 0 1px 1px $yellow-orange;
	}
	50% {
		box-shadow: 0 0 10px 1px $yellow-orange;
	}
	to {
		box-shadow: 0 0 1px 1px $yellow-orange;
	}
}
@keyframes animation-text {
	from {
		text-shadow: 0px 0px 1px $yellow-orange;
	}
	50% {
		text-shadow: 0px 0px 10px $yellow-orange;
	}
	to {
		text-shadow: 0px 0px 1px $yellow-orange;
	}
}
