$yellow: #f9d073;
$yellow-text: #f9d073;
$white-opacity: #ffffffcc;
$bg-color: rgb(9, 9, 9);

//width
$min-width-home: 98.5vw;
$min-width-about: 98.5vw;
$min-width-work: 98.5vw;
$min-width-partners: 98.5vw;
$min-width-materials: 98.5vw;
$min-width-contacts: 98.5vw;
//heigth
$heigth-wrapper: 100vh;
//heigth

$min-heigth-home: 100vh;
$min-heigth-about: 100vh;
$min-heigth-work: 100vh;
$min-heigth-partners: 100vh;
$min-heigth-materials: 100vh;
$min-heigth-contacts: 100vh;
//heigth
$min-heigth: 100vh;
$min-width: 98.5vw;
