.carouselX {
	margin: 0 auto;
	width: 80vw;
	&-wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 100px;
	}
	&-item {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-img {
		width: 100%;
		height: 100%;
	}
}
