@import url('bootstrap/dist/css/bootstrap.min.css');

// mine
.offcanvas {
	z-index: 10000;
	--bs-offcanvas-height: 100vh;
	background: rgba(9, 9, 9, 0.8);
	box-shadow: 0px 0px 15px #f9d073, inset 0px 0px 150px #f9d073;
	transition: all 1s ease-in-out;

	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 100vw;
		height: 100%;
		gap: 5px;
	}
	&-header {
		height: 90px;
	}
	&-body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&-logo {
		position: relative;
		&-box {
			border-radius: 5px;
			overflow: hidden;
			cursor: pointer;
			position: absolute;
			top: 20px;
			left: 50%;
			transform: translate(-50%, -10%);
			width: 90px;
			height: 90px;
			animation: 10s ease-in-out 1s infinite normal animation-offNavLogo;
		}
		&-img {
			width: 100%;
			height: 100%;
		}
	}
	&-logo:hover {
		color: hsla(0, 0%, 100%, 0.8);
		text-shadow: 0px 0px 1px #f9d073;
	}
	&-link {
		font-size: 24px;
		font-weight: bold;
		color: #f9d073;
		background: linear-gradient(135deg, #f9d073, #ffb300);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding: 10px;
	}
	&-link:hover {
		color: hsla(0, 0%, 100%, 0.8);
		text-shadow: 0px 0px 1px #f9d073;
	}
	&-lang {
		display: flex;
		align-items: center;
		justify-content: center;
		&-ua,
		&-ru {
			background-color: unset;
			border: unset;
			color: hsl(0, 0%, 4%);
			padding: 5px;
			font-size: 16px;
		}
		&-line {
			font-size: 16px;
			color: hsl(0, 0%, 4%);
		}
	}
	&-phone-box {
		position: relative;
		display: grid;
		grid-template-columns: repeat(auto-fill, 250px);
		grid-auto-rows: 50px;
		justify-items: center;
		justify-content: center;
		width: 100%;
	}
	&-phone-wrapper {
		display: flex;
		width: fit-content;
		justify-content: flex-start;
		align-items: center;
		column-gap: 5px;
	}
	&-icon {
		width: 25px;
		height: 25px;
	}
	&-phone {
		font-size: 18px;
		color: #f9d073;
		background: linear-gradient(135deg, #f9d073, #ffb300);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-decoration: none;
	}
}
.sliders-link {
	font-size: 18px;
	text-align: center;
}
@keyframes animation-offNavLogo {
	from {
		box-shadow: 0 0 1px 1px #f9d073;
	}
	50% {
		box-shadow: 0 0 10px 1px #f9d073;
	}
	to {
		box-shadow: 0 0 1px 1px #f9d073;
	}
}
@media (max-width: 425px) {
	.sliders-link {
		font-size: 16px;
		text-align: center;
	}
}
@media (max-width: 375px) {
	.offcanvas-phone-box {
		grid-template: 1fr 1fr / 1fr;
	}
}
@media (max-height: 625px) {
	.offcanvas {
		--bs-offcanvas-height: 100vh;
		height: 100vh;
		&-logo {
			&-box {
				width: 70px;
				height: 70px;
			}
		}
		&-header {
			padding-bottom: 0;
		}
		&-body {
			padding-top: 0;
		}
	}
}
