@import '../../style/variables';

.contacts {
	position: relative;
	min-width: $min-width;
	min-height: $min-heigth;
	&-wrapper {
		padding-top: $wrapper-padding-top;
		min-height: $min-heigth-wrapper;
		height: $heigth-wrapper;
		position: relative;
		display: grid;
		grid-template: 1fr/ 50% 50%;
		max-width: unset !important;
		width: 100vw !important;
		margin: 0 !important;
	}
	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 100%;
		padding: 10px;
	}
	&-title {
		animation-delay: 1s;
		font-size: 60px;
		color: $yellow;
		background: linear-gradient(135deg, $yellow, $yellow-second);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 30px;
		margin-top: 10vh;
		cursor: none;
	}
	&-phone-box {
		display: flex;
		flex-direction: column;
		align-self: center;
		row-gap: 20px;
		padding: 10px;
	}
	&-phone-element {
		animation-delay: 1s;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		column-gap: 5px;
		cursor: pointer;
		color: $yellow;
		background: linear-gradient(90deg, $yellow, $yellow-second);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&-icon {
		width: 45px;
		height: 45px;
	}
	&-phone {
		font-size: 24px;
		text-decoration: none;
		padding: 5px;
		border-radius: 10px;
		width: 100%;
		text-align: end;
		color: $yellow;
		background: linear-gradient(90deg, $yellow, $yellow-second);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&-map {
		width: 59vw;
		height: 100%;
		overflow: hidden;
	}
	&-map-wrapper {
		width: 100%;
		height: 100%;
	}
}

// media
@media (max-width: 768px) {
	.contacts {
		&-wrapper {
			padding-left: 0;
			padding-right: 0;
			position: relative;
			width: 100%;
			grid-template: 1fr 1fr/1fr;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			height: 100vh;
		}
		&-box {
			width: 100%;
			padding: 5px;
			justify-content: center;
		}
		&-title {
			font-size: 48px;
			margin-bottom: 0px;
			margin-top: 0px;
		}
		&-phone-box {
			padding: 10px;
		}
		&-phone-element {
			column-gap: 15px;
		}
		&-icon {
			width: 35px;
			height: 35px;
			border-radius: 50%;
		}
		&-phone {
			font-size: 18px;
		}
		&-map {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	}
}
@media (max-height: 626px) {
	.contacts {
		height: 100vh;
		overflow: hidden;
		&-phone {
			font-size: 20px;
		}
		&-phone-box {
			width: 100%;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-evenly;
		}
		&-title {
			font-size: 38px;
			margin-bottom: 0px;
			margin-top: 0px;
			opacity: 1;
		}
		&-map {
			width: 100%;
			height: 100%;
		}
	}
}
@media (max-height: 575px) {
	.contacts {
		&-map {
			display: none;
		}
	}
}
@media (max-height: 426px) {
	.contacts {
		&-wrapper {
			padding-top: 0;
		}
	}
}
