@import '../../style/variables';

.contacts {
	position: relative;
	overflow: hidden;
	min-width: $min-width;
	min-height: $min-heigth;
	&-wrapper {
		padding-top: 15vh;
		transition: all 1s ease-in-out;
		height: $heigth-wrapper;
		display: grid;
		grid-template-columns: 40% 60%;
		grid-template-rows: auto;
		justify-content: center;
		align-items: center;
	}
	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&-title {
		animation-delay: 1s;

		font-size: 60px;
		color: #f9d073;
		text-shadow: 0px 0px 10px #f9d073;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	&-phone-box {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}
	&-phone-element {
		animation-delay: 1s;

		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 15px;
	}
	&-icon {
		width: 45px;
		height: 45px;
	}
	&-phone {
		font-size: 24px;
		color: hsla(0, 0%, 100%, 0.8);
	}
	&-map {
		align-self: flex-end;
		width: 59vw;
		height: 99.5vh;
	}
}
