@import '../../style/variables';

.work {
	position: relative;
	overflow: hidden;
	min-width: $min-width;
	min-height: $min-heigth;
	display: flex;
	justify-content: center;
	align-items: center;
	&-wrapper {
		padding-top: $wrapper-padding-top;
		padding-bottom: 10vh;
		height: $heigth-wrapper;
		min-height: $min-heigth-wrapper;
		width: 100%;
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-wrapper::-webkit-scrollbar {
		width: 0px;
	}
	&-btn-list {
		position: relative;
		display: grid;
		justify-content: center;
		justify-items: center;
		align-items: center;
		width: 100%;
		height: 100%;
		grid-template-columns: repeat(auto-fill, 270px);
		grid-template-rows: repeat(auto-fill, 270px);
		gap: 25px;
	}
	&-btn-item {
		border-radius: 15%;
		overflow: hidden;
		width: 270px;
		height: 270px;
		display: flex;
		flex-direction: column;
		text-align: center;
		cursor: pointer;
		color: $yellow;
		background: rgba($bg-color, 0.5);
		box-shadow: 0px 0px 15px $yellow, inset 0px 0px 50px $yellow;
		transition: all 0.2s ease-in-out;
		a {
			text-decoration: none;
		}
	}
	&-btn-item:hover {
		box-shadow: 0px 0px 25px $yellow, inset 0px 0px 100px $yellow;
	}
	&-btn-img {
		width: 270px;
		height: 200px;
	}
	&-btn-name {
		font-size: 20px;
		color: $yellow;
		background: linear-gradient(135deg, $yellow, $yellow-second);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

// media
