@import '../../style/variables';

.work {
	position: relative;
	overflow: hidden;
	min-width: $min-width;
	min-height: $min-heigth;
	&-wrapper {
		padding-top: 15vh;
		height: $heigth-wrapper;
		transition: all 1s ease-in-out;
		position: relative;
		display: flex;
		flex-direction: column;
	}
}

// media
@media (max-width: 768px) {
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
